<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clase 2</title>
    <link rel="stylesheet" href="/stylesheets/clase2.css">
</head>
<body>
    <div class="azul">AZUL</div>
    <div class="rojo">ROJO</div>
    <a href="#">Ir a google</a>
    <a href="#">Ir a Yahoo</a>

    <ul>
        <li>HOME</li>
        <li>ABOUT US</li>
        <li>CONTACT US</li>
    </ul>

    <div class="padre">
        <div class="hijo">3</div>
        <div class="hijo">2</div>
        <div class="hijo">1</div>
    </div>

    <div class="tio"></div>
    <div class="tio"></div>
    <div class="tio"></div>
    <div class="tio"></div>
    <div class="tio"></div>
    <div class="tio"></div>
    <div class="tio"></div>
    <div class="tio"></div>
    <div class="tio"></div>
    <div class="tio"></div>
    <div class="tio"></div>
    <div class="tio"></div>
    <div class="tio"></div>

    <form action="" method="">
        <input type="text" required>
        <br>
        <input type="number">
        <input type="date">
        <input type="color">
        <input type="password">
        <input type="email">
        <input type="submit" value="Guardar Cambios">
        <textarea></textarea>
        <input type="radio" name="genero">
        <input type="radio" name="genero">
        <input type="checkbox">
        <input type="checkbox">
        <input type="checkbox">
        <input type="checkbox">
        <select multiple>
            <option value="">ROJO</option>
            <option value="">AZUL</option>
            <option value="">VERDE</option>
        </select>
        <button type="submit">ENVIAR TODO</button>
    </form>
</body>
</html>