<!DOCTYPE html>
<html>
    <!-- HEAD - CONFIGURACION -->
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/stylesheets/clase1.css">
    </head>
    <!-- BODY - VISUAL -->
    <body>
        <h1>Titulio principal</h1>
        <h3>Esto es un subtitulo</h3>
        <h6>Epigrafe</h6>
        <p>Lorem <strong>ipsum dolor</strong> sit amet consectetur, adipisicing elit. Animi similique quasi
        <br>
        eveniet sunt autem consequatur enim rem aperiam inventore eligendi, illum hic cum? Corporis eligendi qui alias totam veniam maiores.</p>
        <a class="boton-al-azar" href="https://google.com">Ir a google</a>
        <a class="boton-al-azar" href="/frontend/test">Ir a test</a>
        <a class="boton-al-azar" href="#nota">Ir a la nota</a>
        <a class="boton-al-azar" href="#nota2">Ir a la nota 2</a>
        <button class="enlace">Ir a yahoo</button>
        <img src="/images/foto.jpg" alt="">
        <ol class="lista" type="a">
            <li class="item">HOME</li>
            <li class="item">BUSCADOR</li>
            <li class="item">CONTACTO</li>
        </ol>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus ipsam doloribus velit, odio aperiam similique cumque, nisi eligendi tenetur sint quas suscipit nostrum amet atque accusamus iure fuga non nulla!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus ipsam doloribus velit, odio aperiam similique cumque, nisi eligendi tenetur sint quas suscipit nostrum amet atque accusamus iure fuga non nulla!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus ipsam doloribus velit, odio aperiam similique cumque, nisi eligendi tenetur sint quas suscipit nostrum amet atque accusamus iure fuga non nulla!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus ipsam doloribus velit, odio aperiam similique cumque, nisi eligendi tenetur sint quas suscipit nostrum amet atque accusamus iure fuga non nulla!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus ipsam doloribus velit, odio aperiam similique cumque, nisi eligendi tenetur sint quas suscipit nostrum amet atque accusamus iure fuga non nulla!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus ipsam doloribus velit, odio aperiam similique cumque, nisi eligendi tenetur sint quas suscipit nostrum amet atque accusamus iure fuga non nulla!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus ipsam doloribus velit, odio aperiam similique cumque, nisi eligendi tenetur sint quas suscipit nostrum amet atque accusamus iure fuga non nulla!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus ipsam doloribus velit, odio aperiam similique cumque, nisi eligendi tenetur sint quas suscipit nostrum amet atque accusamus iure fuga non nulla!</p>
        <h1 id="nota"></h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus ipsam doloribus velit, odio aperiam similique cumque, nisi eligendi tenetur sint quas suscipit nostrum amet atque accusamus iure fuga non nulla!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus ipsam doloribus velit, odio aperiam similique cumque, nisi eligendi tenetur sint quas suscipit nostrum amet atque accusamus iure fuga non nulla!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus ipsam doloribus velit, odio aperiam similique cumque, nisi eligendi tenetur sint quas suscipit nostrum amet atque accusamus iure fuga non nulla!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus ipsam doloribus velit, odio aperiam similique cumque, nisi eligendi tenetur sint quas suscipit nostrum amet atque accusamus iure fuga non nulla!</p>
        <h1 id="nota2">ACA ESTA LA OTRA NOTA</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus ipsam doloribus velit, odio aperiam similique cumque, nisi eligendi tenetur sint quas suscipit nostrum amet atque accusamus iure fuga non nulla!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus ipsam doloribus velit, odio aperiam similique cumque, nisi eligendi tenetur sint quas suscipit nostrum amet atque accusamus iure fuga non nulla!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus ipsam doloribus velit, odio aperiam similique cumque, nisi eligendi tenetur sint quas suscipit nostrum amet atque accusamus iure fuga non nulla!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus ipsam doloribus velit, odio aperiam similique cumque, nisi eligendi tenetur sint quas suscipit nostrum amet atque accusamus iure fuga non nulla!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus ipsam doloribus velit, odio aperiam similique cumque, nisi eligendi tenetur sint quas suscipit nostrum amet atque accusamus iure fuga non nulla!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus ipsam doloribus velit, odio aperiam similique cumque, nisi eligendi tenetur sint quas suscipit nostrum amet atque accusamus iure fuga non nulla!</p>
    </body>
</html>