<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emilia Cole Web Site</title>
    <link rel="stylesheet" href="/stylesheets/emilia.css">
</head>
<body>
    <ul>
        <a href="#"><li>HOME</li></a>
        <br>
        <a href="#"><li>ABOUT</li></a>
        <br>
        <a href="#"><li>MUSIC</li></a>
        <br>
        <a href="#"><li>CONTACT</li></a>
    </ul>
    <ul class="redes">
        <a href="#">tw</a>
        <a href="#">fb</a>
        <a href="#">ig</a>
        <a href="#">li</a>
        <a href="#">go</a>
        <a href="#">ps</a>
    </ul>
    <br>
    <br>
    <br>
    <br>
    <ul>
        <h1>EMILIA <br> COLE//</h1>
    </ul>
    <br>
    <br>
    <br>
    <br>
     <h2>TWIST IN MY REALITY</h2>

</body>
</html>