<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JS front 2</title>
    <script>
        
        window.onclick = function(){

        }
        window.onclick = function(){

        }
        window.addEventListener('load',function(){
            console.log("chau")
            var titulo = document.querySelector('h2');
            console.log(titulo);
        })
    </script>
</head>
<body>
    <h2>uf! tu numero es mayor al elegido</h2>
    <input type="text">
    <button>ADIVINAR</button>
    <h5>chances: 5</h5>
    <script src="/javascripts/script2.js"></script>
</body>
</html>