<style>
body{
    background: <%= color %>;
}
</style>

<form action="/color" method="POST">
    Elija un color:
    <input type="color" name="color">
    <br>
    <button type="submit">ELEGIR</button>
</form>