<form action="/users/register" method="POST" enctype="multipart/form-data">
Contraseña <input type="text" name="password">
<br>
<input type="file" name="foto">
<br>
<button type="submit">REGISTRO</button>
</form>