*{
    box-sizing: border-box;
}

.rojo{
    width:100px;
    height:100px;
    background:red;
    display:inline-block;
}
.azul{
    height:100px;
    width:100px;
    background:blue;
    display:inline-block;
}
li{
    display:inline-block;
    margin-right:10px;
}
.padre{
    background:yellow;
    overflow: hidden;
}
.hijo{
    background:violet;
    border:1px solid black;
    width:50px;
    height:50px;
    float:right;
}
.tio{
    background:red;
    width:50px;
    height:50px;
    float:left;
}

.a{
    height:40px;
    background:lightblue;
}
.b{
    height: 200px;
    background:lightgray;
    width:30%;
    _display:inline-block;
    float:left;
}
.c{
    height: 200px;
    background:coral;
    width:70%;
    _display:inline-block;
    float:left;
}
.cortarFloat{
    clear:both;
}
.d{
    height: 30px;
    background:tomato;
}