h1{
    color:red;
}
p{
    font-size:12px;
}
.boton-al-azar{
    color: white;
    background-color: rgb(50,200,150);
    _background-image: url('/images/foto.jpg');
    border-radius: 5px;
    padding: 5px 10px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}
.enlace{
    border:0px;
    background:none;
    color:blue;
    text-decoration: underline;
    cursor: pointer;
}

