<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alta de pelicula</title>
</head>
<body>
    <form action="/database/create" method="POST">
        Title:
        <input type="text" name="title">
        <br>
        Rating:
        <input type="text" name="rating">
        <br>
        Awards:
        <input type="text" name="awards">
        <br>
        Release Date:
        <input type="text" name="release_date">
        <br>
        Length:
        <input type="text" name="length">
        <br>
        genre_id:
        <input type="text" name="genre_id">
        <br>
        <button type="submit">GUARDAR PELICULA</button>
    </form>
</body>
</html>